COMMENT: drop
driveMP 3

L:turn 12
R:turn -12
L:wait 1
R:wait 1

C: driveMP 16
L: driveMP 7
R: driveMP 7
wait 0.1
C: driveMP -16
L: driveMP -7
R: driveMP -7


turn -115
wait 0.5

wait 2

driveMP -34

turn -45

wait 2

driveMP -50

dropMarker
wait 0.2

driveMP 25
extendIntake 25
wait 4
