COMMENT: drop
wait 2
driveMP 3
wait 0.05

L:turn 35
R:turn -35

wait 0.05
L:driveMP 16
R:driveMP 16
C:driveMP 13

comment: liftLow

wait 0.1

L:driveMP -15.5
R:driveMP -15.5
C:driveMP -13


turn -115


driveMP -34

turn -45
strafeTime 1 -0.25

driveMP -48

dropMarker

driveMP 15

extendIntake 50
wait 3


end