drop
wait 2
unlatchHook
wait 1
driveMP 3
wait 0.05

L:turn 35
R:turn -35

wait 0.1

L:driveMP 16
R:driveMP 16
C:driveMP 24

liftLow

wait 0.1

L:driveMP -15
R:driveMP -15
C:driveMP -26


turn 245
wait 0.1

driveMP -31
wait 0.1

turn 135
wait 0.1

strafeTime 0.4 0.25

driveMP -33
wait 0.1

turn 145
wait 0.5

dropMarker
wait 0.5

turn 135
wait 0.5

driveMP 45

extendIntake 25
wait 3


end