COMMENT: drop
wait 2
drive 15.0 0.23

L: turn 45
R: turn -45


L: drive 16 0.23
R: drive 16 0.23
C: drive 12 0.23


liftLow

L: drive -16 0.3
R: drive -16 0.3
C: drive -12 0.3

turn 75

drive 34 0.5

turn -45

drive -52 0.75

extendIntake 50
deposit
wait 1.5

drive 13 0.75
wait 2

end